<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portfolioapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioApp">
        <activity android:name=".prize.PrizeListActivity"></activity>
        <activity android:name=".prize.RevisePrizeActivity" />
        <activity android:name=".certificate.CertificateListActivity" />
        <activity android:name=".certificate.ReviseCertificateActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".prize.WritePrizeActivity" />
        <activity android:name=".portfolio.PortfolioModifyActivity" />
        <activity android:name=".certificate.WriteCertificateActivity" />
        <activity android:name=".portfolio.WritePortfolioActivity"/>
        <activity android:name=".portfolio.PortfolioViewActivity"/>
        <activity android:name=".certprizeFullView.CertificateViewActivity" />
        <activity android:name=".portCalendar.PortfolioCalendarViewActivity" />
        <activity android:name=".portFullView.PortfolioFullViewActivity"/>
        <activity android:name=".mainLogin.JoinActivity" />
        <activity android:name=".mainLogin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>